.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://wallpaperaccess.com/full/170997.jpg');
  background-size: cover;
  background-position: center center;
}

